:root {
  /* Colour styles */
  --background: #e6e6de;
  --primary: #3677a9;
  --secondary: #204a78;
  --contrast: #c54c47;
  --lighter_bg: #ffffff;
  --off-white: #f1f1ec;

  /* Font sizes */
  --text_xs: 0.85rem;
  --text_s: 0.9rem;
  --text_m: 1.3rem;
  --text_l: 1.8rem;
}
@font-face {
  font-family: "nexa_boldregular";
  src: url("/fonts/nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
}

H1,
H2,
H3,
H4 {
  font-family: "nexa_boldregular";
}
