---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import ContainerRight from "../components/ContainerRight.astro";
import ContainerLeft from "../components/ContainerLeft.astro";
import Banner from "../components/Banner.astro";
---

<MainLayout>
		<Banner/>
		<section class="verden_er">
			<h2>
				Verden er fyldt med ting du burde gøre. <br> Her er 4 nemme og hurtige...
			</h2>
		</section>
		<ContainerRight
		imgPath="/photos/Star.svg"
		number="#1"
		body="Meld dig ind i fagforening nu..." 
		body2="Det tager kun 10 min"
		/>

		<ContainerLeft 
		imgPath="/photos/Search-Outline.svg"
		number="#2"
		body="Tilmeld dig jobsøgnings kursus..." 
		body2="Det bliver din kommende chef glad for"
		/>

		<ContainerRight
		imgPath="/photos/Lock-Outline.svg"
		number="#3"
		body="Få nu bestilt den forsikring..." 
		body2="Vi tilbyder ekstra billige forsikringer til studerende "
		/>
		<ContainerLeft 
		imgPath="/photos/Bag-Outline.svg"
		number="#4"
		body="Få adgang til gaveshoppen..." 
		body2="Hvis du melder dig ind, får du adgang til vores gaveshop. Her kan du købe billige restaurant besøg, mærkevarer mm."
		/>
</MainLayout>

<style>
	.verden_er {
		display: flex;
		flex-direction: column;
		font-size: var(--text_xs);
	}

	.verden_er h2 {
		text-align: center;
		padding: 2% 2% 2% 2%;
	}

	@media (min-width: 800px){
			.verden_er {
		font-size: 2rem;
	}
	}
</style>