---
const { body, body2, number } = Astro.props;
---
<div class="container">
<section>
	<div class="text">
		<div class="indhold_text">
			<img src="" alt="">
			<h3>{body}</h3>
			<h3>{body2}</h3>
		</div>
		<div class="nummer">
			<h2>{number}</h2>
		</div>
	</div>
</section>
</div>
<style>
	.container{
		padding-top: 10%;
	}
	section{
		background-color: var(--primary);
		padding: 10% 0% 10% 8%;
		border-radius: 0px 0px 50px;
		margin-right: 40px;
	}

	.text{
		display: flex;
		justify-content: space-between;
	}

	.nummer{
		display: flex;
		position: absolute;
		text-align: center;
		z-index: 1;
		margin-left: 74%;
	}
	.nummer h2 {
		background-color: var(--contrast);
		border-radius: 50%;
		padding: 20% 0% 0% 0%;
		height: 50px;
		width: 50px;
	}
</style>