---

---


<div class="header">
    <img class="logo" src="/photos/CA_Logo.png" alt="CA logo">
    <img class="studie" src="/photos/CA_Studiepartner.png" alt="CA Studiepartner">
</div>


<style>
.header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}
.logo {
    width: auto;
    height: 80px;
}

.studie {
    width: 190px;
    height: auto;
}

</style>